{% include "../templates/header.html" %}
<div class="posts">
    <section class="post">
        <div class="post-description">

            <div class="pure-form">
                <fieldset>
                    <input type="password" name="password" id="password" placeholder="Password" />
                    <button type="submit" onclick="javascript:login();" class="pure-button pure-button-primary">Submit</button>
                </fieldset>
            </div>
            <div id="infos"></div>

        </div>
    </section>
</div>
{% include "../templates/footer.html" %}