{% include "../templates/header.html" %}
<div class="posts">
    <section class="post">
        <div class="post-description">

            <table class="pure-table pure-table-horizontal">
                <thead>
                    <tr>
                        <th>Comment</th>
                        <th>Remove</th>
                        <th>Spam</th>
                        <th>Sticky</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in commets %}
                    <tr id="{{i.id}}">
                        {% if spamComment|contains(i.id) %}
                            <td id="background-{{i.id}}" class="spam">{{i.comment}}</td>
                            <td><a onclick="javascript:removeComment('{{i.id}}', '{{i.article_id}}&spam=1');">Remove</a></td>
                            <td><a id="spam-{{i.id}}" onclick="javascript:spam('{{i.id}}');">Not spam</a></td>
                        {% else %}
                            {% if i.sticky == 0 %} 
                                <td id="background-{{i.id}}">{{i.comment}}</td>
                            {% else %}
                                <td id="background-{{i.id}}" class="sticky">{{i.comment}}</td>
                            {% endif %}
                            <td><a onclick="javascript:removeComment('{{i.id}}', '{{i.article_id}}');">Remove</a></td>
                            <td><a id="notspam-{{i.id}}" onclick="javascript:spam('{{i.id}}');">Spam</a></td>
                        {% endif %}

                        {% if i.parent_id == null %}
                            {% if i.sticky == 0 %} 
                                <td><a id="sticky-{{i.id}}" onclick="javascript:stickyComment('{{i.id}}');">Sticky</a></td> 
                            {% else %}
                                <td><a id="sticky-{{i.id}}" onclick="javascript:stickyComment('{{i.id}}');">Unsticky</a></td> 
                            {% endif %}
                        {% else %}
                            <td></td>
                        {% endif %}

                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </section>
</div>
{% include "../templates/footer.html" %}